<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
    <title>GamePlay - Home</title>
</head>

<body>

    <%- include('./partials/header.ejs') %>

                                        <!-- -----       INSERTAR PAGINA ACÃ     ------ -->
    <section>


    </section>
    
    <%- include ('./partials/footer.ejs') %>
</body>

</html>