<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/css/productCart.css">
    <title>GamePlay - Carrito</title>
</head>

<body>
    <header>
    <%- include('./partials/header.ejs') %>
    </header>
    <!-- Breadcrumb Start -->
    <main class="cart">
        <div class="breadcrumb">
            <nav class="breadcrumb bg-light mb-30">
                <a class="level-01" href="/">Inicio > </a>
                <a class="level-02" href="/">Shop > </a>
                <span class="active">Carrito</span>
            </nav>
        </div>
        <!-- Breadcrumb End -->
            
        <!-- Cart Details Start -->
        <div class="product-details">

            <!-- Cart Products Start -->
            
            <div class="cart-products">
                <div class="cart-products-title">
                    <h2>Productos añadidos</h2>
                </div>
                <div class="product-list-general">
                    <div class="cart-products-item">
                        <div class="cart-picture">
                            <img class="main-pic" src="/images/products/GPF006-uncharted-legacy-of-thieves-collection1-ps5.jpeg" alt="imagen de producto">
                        </div>
                        <div class="cart-name-price-qty">
                            <div class="product-name">
                                <h3 class="name">Nombre del producto</h3>
                            </div>
                            <div>
                                <p class="regular-price">$10.000 </p>
                            </div>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <a href="javascript:alert('Restaste una unidad');"><button class="minus-button"> - </button></a>
                                </div>
                                <input type="text" class="form-control" value="1">
                                <div class="input-group-btn">
                                    <a href="javascript:alert('Sumaste una unidad');"><button class="plus-button"> + </button></a>
                                </div>
                            </div>
                            <div class="cart-erase-button">
                                <a href="javascript:alert('Tu producto será borrado del carrito, deseas continuar?');"><button class="erase-button">x</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="cart-products-item">
                        <div class="cart-picture">
                            <img class="main-pic" src="/images/products/GPF006-uncharted-legacy-of-thieves-collection1-ps5.jpeg" alt="imagen de producto">
                        </div>
                        <div class="cart-name-price-qty">
                            <div class="product-name">
                                <h3 class="name">Nombre del producto</h3>
                            </div>
                            <div>
                                <p class="regular-price">$10.000 </p>
                            </div>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <a href="javascript:alert('Restaste una unidad');"><button class="minus-button"> - </button></a>
                                </div>
                                <input type="text" class="form-control" value="1">
                                <div class="input-group-btn">
                                    <a href="javascript:alert('Sumaste una unidad');"><button class="plus-button"> + </button></a>
                                </div>
                            </div>
                            <div class="cart-erase-button">
                                <a href="javascript:alert('Tu producto será borrado del carrito, deseas continuar?');"><button class="erase-button">x</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="cart-products-item">
                        <div class="cart-picture">
                            <img class="main-pic" src="/images/products/GPF006-uncharted-legacy-of-thieves-collection1-ps5.jpeg" alt="imagen de producto">
                        </div>
                        <div class="cart-name-price-qty">
                            <div class="product-name">
                                <h3 class="name">Nombre del producto</h3>
                            </div>
                            <div>
                                <p class="regular-price">$10.000 </p>
                            </div>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <a href="javascript:alert('Restaste una unidad');"><button class="minus-button"> - </button></a>
                                </div>
                                <input type="text" class="form-control" value="1">
                                <div class="input-group-btn">
                                    <a href="javascript:alert('Sumaste una unidad');"><button class="plus-button"> + </button></a>
                                </div>
                            </div>
                            <div class="cart-erase-button">
                                <a href="javascript:alert('Tu producto será borrado del carrito, deseas continuar?');"><button class="erase-button">x</button></a>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <!-- Cart Products End -->

            <!-- Cart Resume Start -->
            <div class="cart-resume">
                <div class="resume-title">
                    <h2>Resumen</h2>
                </div>
                <div class="resume-pricing">
                    <div class="total-price">
                        <div class="total-price-label">
                            <h4>Precio (x items)</h4>
                        </div>
                        <div class="total-price-number">
                            <p>$30.000</p>
                        </div>
                    </div>
                    <div class="transport-charges">
                        <div class="transport-charges-label">
                            <h4>Costo por envío</h4>
                        </div>
                        <div class="transport-charges-number">
                            <p>$2.000</p>
                        </div>
                    </div>
                    <div class="final-price">
                        <div class="final-price-label">
                            <h4>Precio Total</h4>
                        </div>
                        <div class="final-price-number">
                            <p>$32.000</p>
                        </div>
                    </div>
                </div>
                <div class="resume-buttons">
                    <div class="keep-buying">
                        <a href="javascript:alert('Serás redireccionado al shop');"><button class="keep-buying-button">CONTINUAR COMPRANDO</button></a>
                    </div>
                    <div class="go-to-checkout">
                        <a href="javascript:alert('¡Serás redireccionado al checkout para finalizar tu compra!');"><button class="go-to-checkout-button">FINALIZAR PEDIDO</button></a>
                    </div>
                </div>
            </div>
            <!-- Cart Resume End -->
        </div>
        <!-- Cart Details End -->
    </main>

    <%- include ('./partials/footer.ejs') %>
</body>

</html>