<footer>
    <div class="logo">
        <nav>
            <ul>
                <li><a href="/" class="isologotipo"><img src="/images/isotipo.png"><img src="/images/logotipo.png"></a></li>
                <li><ul class="social-media">
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                </ul></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><ul>
                    <li><a href="https://wa.me/351555555" target="_blank"><i class="fa-brands fa-whatsapp"></i>&nbsp;Atencion al Cliente</a></li>
                    <li><a href="mailto:contacto@gamestop.com.ar"><i class="fa-regular fa-envelope"></i>&nbsp;Email contacto</a></li>
                </ul></li>
            </ul>
        </nav>
    </div>
    <div class="empresa">
        <h4>LA EMPRESA</h4>
        <p><a href="/">Nosotros</a></p>
        <p><a href="/">Comunidad</a></p>
        <p><a href="/">Terminos y condiciones</a></p>
        <h4>&nbsp;</h4>
        <h4>CLIENTE</h4>
        <p><a href="/">Mi cuenta</a></p>
        <p><a href="/usuarios/carrito">Mi carrito</a></p>
        <p><a href="/">Mis pedidos</a></p>
        
    </div>
    <div class="soporte">
        <h4>SOPORTE</h4>
        <p><a href="/">¿Cómo comprar?</a></p>
        <p><a href="/">Medios de pago</a></p>
        <p><a href="/">Preguntas frecuentes</a></p>
        <p><a href="/">Cambios y devoluciones</a></p>
    </div>
        <div class="newsletter">
            <h4>NEWSLETTER</h4>
            <p>Subscribete a nuestro newsletter y se el primero en enterarte de nuevas ofertas y promociones.</p>
            <p>También conocé las novedades del mundo de los videojuegos como así también del mundo de comics y coleccionables.</p>
            <h4>&nbsp;</h4>
            <div><input type="text"><input class="subscripcion" type="button" value="SUSCRIBIRSE"></div>
        </div>
</footer>