<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/register.css">
    
    <title>GamePlay - Crear Producto</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
        <!-- Breadcrumb Start -->
        <main class="product-detail">
            <div class="breadcrumb">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="level-01" href="/">Inicio > </a>
                    <a class="level-02" href="/">Productos > </a>
                    <span class="active">Crear Producto</span>
                </nav>
            </div>
        <!-- Breadcrumb End -->
    <main>
        <h3 class="tituloregistro">CREAR PRODUCTO</h3>
        <div class="contenedor-registro">
            <br>
            <div class="form-registro">
                <form class="registro" action="/registro" method="POST">

                    <div class="categoria"> 
                        <label for="SKU" class="datos">SKU</label>
                        <input type="text" name="SKU" id="SKU" placeholder=" Código el producto" required>
                    </div>

                    <div class="categoria"> 
                        <label for="titulo" class="datos">Título</label>
                        <input type="text" name="titulo" id="titulo" placeholder="Nombre del Producto" required>
                    </div>

                    <div class="categoria"> 
                        <label for="short_desc" class="datos">Descr. Corta</label>
                        <input type="textarea" name="short_desc" id="short_desc" placeholder="Datos básicos del producto" required>
                    </div>

                    <div class="categoria"> 
                        <label for="long_desc" class="datos">Descr. Larga</label>
                        <input type="textarea" name="long_desc" id="long_desc" placeholder="Datos complementarios" required>
                    </div>

                    <div class="categoria"> 
                        <label for="normal_price" class="datos">Precio normal</label>
                        <input type="number" min="1" step="any" name="normal_price" id="normal_price" placeholder="Precio de lista" required>
                    </div>

                    <div class="categoria"> 
                        <label for="offer_price" class="datos">Precio de oferta</label>
                        <input type="number" min="1" step="any"  name="offer_price" id="offer_price" placeholder="Precio rebajado" required>
                    </div>

                    <div class="categoria"> 
                        <label for="discount" class="datos">Descuento</label>
                        <input type="number" min="1" step="any" name="discount" id="discount" placeholder="Porcentaje de descuento" required>
                    </div>

                    <div class="categoria"> 
                        <label for="cuotas" class="datos">Cuotas</label>
                        <input type="number" min="1" step="any" name="cuotas" id="cuotas" placeholder="Cantidad de cuotas" required>
                    </div>

                    <!-- <div class="categoria"> 
                        <label for="cuotas" class="datos">Cuotas</label>
                        <select name="cuotas" class="datos">
                            <option value="3">3</option>
                            <option value="6">6</option>
                            <option value="9">9</option>
                            <option value="12">12</option>
                        </select>
                    </div> -->

                    <div class="categoria"> 
                        <label for="cuotas_value" class="datos">Valor de las cuotas</label>
                        <input type="number" min="1" step="any" name="cuotas_value" id="cuotas_value" placeholder="Valor unitario de la cuota" required>
                    </div>

                    <div class="categoria"> 
                        <label for="tags" class="datos">Etiquetas</label>
                        <input type="textarea" name="tags" id="tags" placeholder="etiquetas para SEO" required>
                    </div>

                    <div class="categoria">
                        <h4>Atributo Precio</h4>
                        <div class="generos">
                            <label for="regular">Regular</label>
                            <input type="radio" name="atributo_precio" value="regular" id="regular">
                        </div>
                        <div class="generos">
                            <label for="offer">En Oferta</label>
                            <input type="radio" name="atributo_precio" value="oferta" id="oferta">
                        </div>
                        
                    </div>

                    <div class="categoria">
                        <h4>Atributo Estado</h4>
                        <div class="generos">
                            <label for="varon">Físico</label>
                            <input type="radio" name="atributo_estado" value="físico" id="físico">
                        </div>
                        <div class="generos">
                            <label for="mujer">Digital</label>
                            <input type="radio" name="atributo_estado" value="digital" id="digital">
                        </div>
                        
                    </div>
                                            <!-- Div abajo de los datos -->
                    <section class="perfilusuario">
                        <div class="intereses">
                            <h4>Categorías</h4>
                            <div>
                                <input type="checkbox" name="categories" value="a" id="a">
                                <label for="a">Juegos Físicos</label>
                            </div>
                            <div>
                                <input type="checkbox" name="categories" value="b" id="b">
                                <label for="b">Juegos Digitales</label>
                            </div>
                            <div>
                                <input type="checkbox" name="categories" value="c" id="c">
                                <label for="c">Ofertas</label>
                            </div>
                            <div>
                                <input type="checkbox" name="categories" value="d" id="d">
                                <label for="d">PS4</label>
                            </div>
                            <div>
                                <input type="checkbox" name="categories" value="e" id="e">
                                <label for="e">PS5</label>
                            </div>
                            <div>
                                <input type="checkbox" name="categories" value="f" id="f">
                                <label for="f">Coleccionables</label>
                            </div>
                        </div>
                    </section>
                    <div class="contenedor-fotoproducto">
                        <h4>Foto de producto</h4><br>
                        <label for="fotoPerfil" class="fotoPerfil"><i class="fa fa-plus" aria-hidden="true"></i></label><br>
                        <input type="file" accept=".jpg, .png" id="fotoPerfil">
                    </div>
                    <br>
                    <div>
                        <button type="submit" class="registerbutton">PUBLICAR</button>
                    </div><br>
                    
                </form>
        </div>
    </div>
    </main>
    <%- include ('../partials/footer.ejs') %>
</body>

</html>