    <section class="slider">
        <img class="slider" src="/images/home-slider/gameplay-home-slider-01.png">
        <div>
            <img src="/images/home-categories-flat/home-categories-flat-01.png">
            <img src="/images/home-categories-flat/home-categories-flat-02.png">
            <img src="/images/home-categories-flat/home-categories-flat-03.png">
        </div>
    </section>
