
main.product-detail {
    padding-top: 25px;
    background-color: #efefef;
}

/*  ---     Breadcrumb     ---- */

.breadcrumb {
    /* margin-top: 25px; */
    margin-bottom: 10px;
    margin-left: 10px;
}

.breadcrumb .active {
    color: #b1262f;
    font-weight: bold;
}

/*  ---     Product Detail     ---- */

.product-detail {
    margin: auto;
    padding: 2.5%;
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
    background-color: #FFF;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.product-detail-left{
    text-align: center;
    /* background-color: #b1262f; */
    padding-bottom: 25px;
}

.main-pic { 
    width: 80%;
}

.product-detail-right{
    padding-left: 20px;
    padding-right:10px;
    padding-bottom: 25px;
    text-align: left;
    /* background-color: blue ; */
        /* max-width: 40%; */
}

main h5.brand {
    font-size: 20px;
    padding-top: 60px;  
    padding-bottom: 15px;
}

main h2 {
    font-size: 40px;
    padding-bottom: 20px;

}

<<<<<<< HEAD
main p {
=======
p.short-description, .product-long-description p {
>>>>>>> 92142e61baaee327714fbf0ba6b28cfbc681f486
    padding-bottom: 20px;
    text-align: justify;
}

.regular-price {
    font-size: 30px;
    color: #b1262f;
    font-weight: bold;
    padding-bottom: 20px;
}

div.buttons{
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



.add-to-cart-button {
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 10px;
    background-color: #1f1813; 
    margin-bottom: 10px;
}

.add-to-cart-button a {
    color: #ffffff;

}

.buy-now-button {
    color:#FFF;
    background-color: #b1262f;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 20px;

}

.buy-now-button a {
    color: #ffffff;
}

/*  ---     GamePlayer Top Reviews     ---- */

/* .gameplayer-top-reviews {
    margin-top: 25px;
    margin: auto;
    width: 95%;
    background-color: #FFF;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
} */

.gameplayer-top-reviews-blocks {
    margin: auto;
    width: 95%;
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
    background-color: #FFF;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



/*  ---     Product Long Description     ---- */

.product-long-description {
    margin: auto;
    padding: 2.5%;
    background-color: #FFF;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

/*  ---     GamePlayer All Reviews     ---- */

/* .gameplayer-all-reviews {
    margin-top: 25px;
    margin: auto;
    width: 95%;
    background-color: #FFF;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
} */

/*  ---     Related Products     ---- */

/* .related-products {
    margin-top: 25px;
    margin: auto;
    width: 95%;
    background-color: #FFF;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
} */


/* .related-products-blocks {
    display: flex;
    flex-flow: nowrap ;
    justify-content: space-between;
} */

/* .related-products-blocks article img {
    width:80%;   
} */

@media(min-width: 576px){
    div.buttons {
        padding-top: 20px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

}

@media(min-width: 992px){
    .product-detail-left{
        max-width: 60%;
    }
    .product-detail-right{
        max-width: 40%;
    }

    div.buttons {
        padding-top: 20px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media(min-width: 1200px){
    .product-detail-right{
        max-width: 40%;
    }

    div.buttons {
        padding-top: 20px;
        padding-right:30px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .product-long-description {
        padding-right: 200px;
        padding-left:50px;
    }
}

@media(min-width: 1920px){
    .product-detail-right{
        max-width: 40%;
    }

    div.buttons {
        padding-top: 20px;
        padding-right:70px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
    }
}