main {
    background-color: #efefef;
}

/*  ---     Breadcrumb     ---- */

.breadcrumb {
    padding-left: 25px;
    padding-top:10px;
    /* padding-bottom: 10px; */
}

.breadcrumb .active {
    color: #b1262f;
    font-weight: bold;
}

/*  ---     Cart Details     ---- */

.product-details {
    margin: auto;
    padding: 2.5%;
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
    /* background-color: #FFF; */
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-products {
    background-color: #ffffff;
    padding: 20px;
    margin: 5px;
    width: 100%;
    /* display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly; */
}

.cart-products-title {
    padding-bottom: 20px;
}

.cart-products-item {
text-align: center;
margin-bottom:10px;
}

/*  ---     Main Pic     ---- */


div.cart-picture .main-pic {
    width: 90px;
    display: none;
}

/*  ---     Name Price Qty     ---- */



.cart-name-price-qty {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.cart-name-price-qty h3.name {
    font-size: 15px;
}

.cart-name-price-qty .regular-price {
    font-size: 16px;
    color: #b1262f;
}

div.input-group {
    display:flex;
    justify-content: center;
    max-width: 50%;
    margin-left: -20px;
    margin-right: -20px;
    align-items: center;
}

.form-control {
    max-width: 15%;
    text-align: center;
    padding: 5px;
}

.minus-button {
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 5px 7.3px;
    background-color: #1f1813; 
    margin-right: 5px;
    border-radius: 5px;
    cursor:pointer;
}

.plus-button {
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 5px 5px;
    background-color: #1f1813; 
    margin-left: 5px;
    border-radius: 5px;
    cursor:pointer;
}

.erase-button {
    border: 5px transparent;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 10px;
    background-color: #1f1813; 
    border-radius: 5px;
    cursor:pointer;
}

/* Cart Resume */

.cart-resume {
    background-color: #ffffff;
    padding: 20px;
    margin: 5px;
    width: 100%;
}

div.resume-title {
    padding-bottom: 30px;
}

div.total-price, div.transport-charges {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 0.5px solid;
    border-bottom-color: #b1262f;
}

div.final-price {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

div.resume-buttons{
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



.keep-buying-button {
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 10px;
    background-color: #1f1813; 
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 500ms;
    border-radius: 5px;
}

.keep-buying-button:hover{
    background-color: #f00713;
}

.go-to-checkout-button {
    color:#FFF;
    background-color: #b1262f;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 42px;
    cursor: pointer;
    transition: all 500ms;
    border-radius: 5px;

}

.go-to-checkout-button:hover{
    background-color: #f00713;
}


@media(min-width: 576px){
    .product-details {
        margin: auto;
        padding: 2.5%;
        /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
        /* background-color: #FFF; */
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around; */
    }
    .cart-products {
        background-color: #ffffff;
        padding: 20px;
        margin: 5px;
        width: 100%;
    }
    .cart-products-item {
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    div.cart-picture .main-pic {
        display: flex;
    }

    .cart-name-price-qty h3.name {
        font-size: 15px;
        padding-left: 2px;
        padding-right: 2px;
    }
    
    .cart-resume {
        background-color: #ffffff;
        padding: 20px;
        margin: 5px;
        width: 100%;
    }

}

@media(min-width: 992px){
    .product-details {
        margin: auto;
        padding: 2.5%;
        /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
        /* background-color: #FFF; */
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        flex-wrap: nowrap;
        /* justify-content: space-around; */
    }
    .cart-products {
        background-color: #ffffff;
        padding: 20px;
        margin: 5px;
        width: 70%;
    }

    .cart-products-item {
        text-align: center;
        display: flex;
        justify-content: space-around;
    }

    .cart-name-price-qty h3.name {
        font-size: 15px;
        padding-left: 2px;
        padding-right: 30px;
    }
    
    .cart-resume {
        background-color: #ffffff;
        padding: 20px;
        margin: 5px;
        width: 30%;
    }
    
    .keep-buying-button {
        font-size: 18px; 
    }

    .go-to-checkout-button {
        font-size: 18px;
        padding: 10px 38px;  
    }

}

@media(min-width: 1200px){
    .product-details {
        margin: auto;
        padding: 2.5%;
        /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
        /* background-color: #FFF; */
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        flex-wrap: nowrap;
        /* justify-content: space-around; */
    }
    /* .cart-products {
        background-color: #ffffff;
        padding: 20px;
        margin: 5px;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    } */

    
    .cart-products-item {
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    
    .cart-resume {
        background-color: #ffffff;
        padding: 20px;
        margin: 5px;
        width: 30%;
    }

    .cart-products-title {
        width: 100%;
    }

    .cart-name-price-qty h3.name {
        font-size: 20px;
        padding-left: 2px;
        padding-right: 100px;
    }

    .keep-buying-button {
        font-size: 20px; 
    }

    .go-to-checkout-button {
        font-size: 20px;
        padding-left: 42px;
        padding-right: 42px;
    }
}

@media(min-width: 1920px){

}