main {
    background-color: #efefef;
}

/*  ---     Breadcrumb     ---- */

.breadcrumb {
    padding-left: 25px;
    padding-top:10px;
    padding-bottom: 10px;
}

.breadcrumb .active {
    color: #b1262f;
    font-weight: bold;
}

/*  ---     Cart Details     ---- */

.product-details {
    margin: auto;
    padding: 2.5%;
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
    /* background-color: #FFF; */
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.cart-products {
    background-color: #ffffff;
    padding: 20px;
    margin: 5px;
    width: 100%;
    /* display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly; */
}

.cart-products-title {
    padding-bottom: 20px;
}

.cart-products-item {
text-align: center;
}

/*  ---     Main Pic     ---- */


div.cart-picture .main-pic {
    width: 90px;
    display: none;
}

/*  ---     Name Price Qty     ---- */


.cart-name-price-qty {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.regular-price {
    font-size: 20px;
    color: #b1262f;
}

div.input-group {
    display:flex;
    justify-content: center;
    max-width: 50%;
    margin-left: -20px;
    margin-right: -20px;
}

.form-control {
    max-width: 10%;
    text-align: center;
  }

div.cart-erase {
    /* width: 10%; */
}

.cart-resume {
    background-color: #ffffff;
    padding: 20px;
    margin: 5px;
    width: 100%;
}

.erase-button {
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 10px;
    background-color: #1f1813; 
    margin-bottom: 10px;
}

.erase-button a {
    color: #ffffff;

}

@media(min-width: 576px){
    .product-details {
        margin: auto;
        padding: 2.5%;
        /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
        /* background-color: #FFF; */
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around; */
    }
    .cart-products {
        background-color: #ffffff;
        padding: 20px;
        margin: 5px;
        width: 100%;
    }
    
    .cart-resume {
        background-color: #ffffff;
        padding: 20px;
        margin: 5px;
        width: 100%;
    }

}

@media(min-width: 992px){
    .product-details {
        margin: auto;
        padding: 2.5%;
        /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
        /* background-color: #FFF; */
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        flex-wrap: nowrap;
        /* justify-content: space-around; */
    }
    .cart-products {
        background-color: #ffffff;
        padding: 20px;
        margin: 5px;
        width: 70%;
    }
    
    .cart-resume {
        background-color: #ffffff;
        padding: 20px;
        margin: 5px;
        width: 30%;
    }
}

@media(min-width: 1200px){
    .product-details {
        margin: auto;
        padding: 2.5%;
        /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
        /* background-color: #FFF; */
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        flex-wrap: nowrap;
        /* justify-content: space-around; */
    }
    .cart-products {
        background-color: #ffffff;
        padding: 20px;
        margin: 5px;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .cart-resume {
        background-color: #ffffff;
        padding: 20px;
        margin: 5px;
        width: 30%;
    }

    .cart-products-title {
        width: 100%;
    }

}

@media(min-width: 1920px){

}