:root{
    /*    ---  Colores    ----     */
    --fondo-social-media: #000000;
    --fondo-logo: #efefef;
    --letra-header: #252525;
    --rojo-gameplay: #B1272F; 

    /*    ---  Parametros    ----     */
    --altura-header-nav:30px;
    --altura-header-logo: 50px;
    --altura-header-logo2: 100px;
    --altura-footer: 250px;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

}

body{
    font-family: 'Exo', sans-serif;
    font-size: 16px;
}

header{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}    

header ul{
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}      

header li{
    margin-right: 10px;
}        

header a,
footer a{
    color: var(--letra-header);
}        

header div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}            
header .social-media{
    padding: 0% 2%;
    background-color: var(--fondo-social-media);
    height: var(--altura-header-nav);
}            

header .social-media i{
    color: var(--fondo-logo);
    font-size: 18px;
}    
header .logo-login{
    background-color: var(--fondo-logo);
    padding: 1% 4%;
    flex-wrap: wrap;
}            

header img.isologotipo{          
    height: 50px;
}

header .logo-login a{
    color: var(--letra-header);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 5px;
    border-radius: 5px;
}        

header .logo-login span{
    display: none;
}

/* Search bar del Header */
header .logo-login .search-bar{
    display: flex ;
    flex-direction: row;
    justify-content: right;
    width: inherit;
}
header .logo-login form.search-bar{
    order:1;
    width: 90%;
    
}
header .logo-login input{
    min-width: 14px;
    width: 65%;
    max-width: 90%-10px;
    padding:4px;
    border: 0px;
    border-radius: 4px;
}
header .logo-login button{
    background-color: rgba(0, 0, 0, 0);
    padding: 1px 1px 1px 4px;
    width:fit-content;
    border: 0;
    cursor: pointer;
}
header .logo-login button:hover{
    color: var(--rojo-gameplay);
}
header.logo-login button>i{
    color: var(--fondo-social-media);
}


header .navegacion-carrito{
    font-size: 14px;
    padding: 0% 2%;
    height: var(--altura-header-nav);
    border-bottom: 1px var(--fondo-logo) solid;
}            
/* Para colorear iconos del header en hover */
.logo-login li:hover i, .logo-login li:hover span{
    color:var(--rojo-gameplay);
}


footer{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    height: var(--altura-footer);
    background-color: var(--fondo-logo);
    padding: 25px 2vw;
}    

footer .logo *{
    margin: 2px 0px;
}

footer .empresa *,
footer .soporte *,
footer .newsletter *{
    margin: 4px 0px;
}

footer .logo{
    width: 40%;
    height: 80%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

footer a.isologotipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

footer .isologotipo img{
    height: 30px;
}

footer ul{
    list-style-type: none;
    text-align: left;
} 

ul.social-media{
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

footer .empresa{
    width: 30%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer .soporte{
    width: 30%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer .newsletter{
    width: 35%;
    display: none;
}

footer input{
    padding: 3px;
}
footer .subscripcion{
    background: var(--fondo-social-media);
    color: var(--fondo-logo);
}

/*  ---     Breadcrumb     ---- */

.breadcrumb {
    padding-left: 25px;
    padding-top:10px;
    /* padding-bottom: 10px; */
}

.breadcrumb .active {
    color: #b1262f;
    font-weight: bold;
}

/*  ---     Comunes a todos     ---- */
.error {
    background-color: red;
    font-weight: bold;
    color: white;
}

/*  ---     Media Queries     ---- */

@media(min-width: 576px){
    
    
    header .logo-login{
        padding: 1% 4%;
        flex-wrap: nowrap;
    }  
    header .logo-login form.search-bar{
        order:0;
        width: 80%;
    }
    header .logo-login .search-bar{
        justify-content: center;
    }

    footer{
        padding: 25px 8vw;
    }   

    footer .logo{
        width: 30%;
    }

}

@media(min-width: 992px){
    header{
        font-size: 16px;
    }  
    header .logo-login span{
        display: block;
        width: max-content;
    }
    header img.isologotipo{          
        height: 80px;
    }

    footer .isologotipo img{
        height: 45px;
    }    

    footer .newsletter{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
    } 
}

@media(min-width: 1200){
    
}