:root{
    /*    ---  Colores    ----     */
    --fondo-social-media: #000000;
    --fondo-sitio: #efefef;
    --letra-header: #252525;

    /*    ---  Parametros    ----     */
    --altura-header-nav:30px;
    --altura-header-logo: 50px;
    --altura-header-logo2: 100px;
    --altura-footer: 250px;
}
      

/*    ----------------  FORMULARIO DE REGISTRO    ---------------     */

main{
    background-color: var(--fondo-sitio);
    padding: 3% 10%;
}
h3{
    margin-left: 2vh;
    
}
.contenedor-registro,.contenedor-registro p {
    background-color: white;
    margin: 2vh;
    padding: 2vh,4vh,2vh,4vh;
    text-align: center;
}
    /*BOTONES REGISTRO*/
.social-registro{
    display:flex wrap;
    padding: 4vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align:center;   
}
.social-registro button{
    height: 40px;
    cursor:pointer;
    padding: 1px;
    width:fit-content;  
    margin-right: 1vh;;
    margin-top: 1vh;
    padding-right: 0.5vw;
    background-color: white;
    transition: all 500ms;
    border-radius: 4px;

}
.facebookbutton:hover{
    background-color:#2172c4;
}
.applebutton:hover{
    background-color: black;
    color: white;
}
.gmailbutton:hover{
    background-color:#D64A3A;
}


/*iconos d elos botones*/
.facebook{
    position: relative;
    left:3px;
}
.textofacebook{
    position: relative;
    left:3px;
}
.gmail{
    position: relative;
    top: 2px;
    left: 2px;
}
.apple{
    position: relative;
    
    left: 3px;
}

.social-registro button span{
    padding: 2px;
}
svg{
    height: 0.9rem;
}


    /*FORMULARIO REGISTRO*/
.form-registro{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 4vw;
    padding-right: 4vw;
}

.danger {
    color: #b1262f;
    font-weight: bold;
    font-size: 10px;
    margin-top: 5px;
}

    /* foto de perfil */
input[type="file"]{
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: none;
    border: 0;
    cursor:pointer;
}
.contenedor-fotoperfil{
    padding-bottom: 2rem;
}
.fotoPerfil{ 
    border-radius: 4px;
    border: 1px solid black;
    display: inline-block;
    padding: 1.2rem;
    cursor: pointer;
}
.fotoPerfil2{
    border: 0;
    display: inline-block;
    cursor: pointer;
    max-width: 10rem;

}
.fa-add:before, .fa-plus:before {
    color: var(--fondo-sitio);
    font-size: 2.2rem;
}
.preview{
    float: left;
    width:  10px;
    height: 10px;
    object-fit:fill;
}
    /*otros datos*/

.registro .categoria{
    padding-left: 7vh;
    padding-right: 7vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
label.datos, label.genero {
    display: block;
    text-align:left;
}
input[type="radio"]{
    display: inline;
}
.registro .categoria input,
.registro .categoria textarea{
    border-radius: 4px;
    width:100%;
    border-width: 1px;
    border-color: black;
    padding: 4px;
    text-align: left;
}

.registro .categoria input[type="tel"]#telefono1{
    width: 23%;
}
.registro .categoria input[type="tel"]#telefono2{
    width: 73%;
}
.categoria .generos{
    display: block;
    position: relative;
    top: 2vh;
    width: 30%;
    float:left;
    margin-bottom: 2vh;
    justify-content: space-between;
}
section.perfilusuario{
    display: block;
    text-align: left;
    /* padding-top: 10vh; */
}
.intereses{
    width:100%;
    padding-left: 7vh;
    padding-right: 3vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.intereses h4{
    text-align: left;
}
.tyc{
    text-align: left;
    margin-top: 0.5rem;
    padding-left: 8vw;
}
.registerbutton{
    height: 33px;
    background-color: black;
    color: white;
    cursor:pointer;
    transition: all 500ms;
    padding-left: 6px;
    border-radius: 4px;
}
.registerbutton:hover{
    background-color: #B1272F;
    color: black;
}

/* -------- FIN FORMULARIO REGISTRO -------- */


/*  ---     Media Queries     ---- */

@media(min-width: 576px){
    .form-registro{         /* Esto es para hacer 2 inputs por fila */
        display: flex;
        flex-wrap: wrap; 
    }
    .colform {
        display:flex;
        flex-direction: column;
    }
    .rowform {
        display:flex;
        flex-direction: row;
        justify-content: center;
        
    }
    .form-registro .categoria{
        display: block;
        /* width: 50%; */
        padding-left: 3vh;
        padding-right: 3vh;
        float: left;
    }
    section.perfilusuario{
    padding-left: 0;
    }
    .intereses{
        padding-left: 3vh;
    }
    .tyc{
        padding-left: 1.8vw;
    }
    
}

@media(min-width: 992px){
    .form-registro .categoria{
        display: block;
        width: 120%;
        /* padding-left: 3vh;
        padding-right: 3vh; */
        /* float: left; */
    }
    .form-registro{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .rowform {
        justify-content: space-evenly;
    }
    section.perfilusuario{
        padding-left: 10vh;
        }
    .tyc{
        padding-left: 10vw;
    }
    footer .newsletter{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
    } 
    #contrasenia {
        width: 90%;
        
    }
    #contrasenia2 {
        width: 75%;
        
    }
}

@media(min-width: 1200){
}