<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    <title>GamePlay - Home</title>
</head>

<body>
    <header>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/header_slider.ejs') %>
    </header>
    <section class="main">
        <h4 class="titulo">OFERTAS DE LA SEMANA</h4>
        <section class="productos">
            <a href="/producto"><article>
                <div>
                    <img src="/images/products/GPC001-Almanaque-Sports-Almanac-Volver-Al-Futuro-Back-To-The-Future.jpeg">
                    <h5>Almanac Volver al Futuro</h5>
                    <span>Almanaque Sport</span>
                </div>
                <div class="precios">
                    <div>
                        <span class="precio-viejo">$10.000</span>
                        <span class="precio-actual">$7.000</span>
                    </div>
                    <span class="descuento">30% off</span>
                </div>
            </article></a>
            <a href="/producto"><article>
                <div>
                    <img src="/images/products/GPC004-Figura-de-accion-Sonic-With-ring-20146-de-Funko-Pop-Games.jpeg">
                    <h5>Sonic with rings 20146</h5>
                    <span>Figura de accion</span>
                </div>
                <div class="precios">
                    <div>
                        <span class="precio-viejo">$10.000</span>
                        <span class="precio-actual">$7.000</span>
                    </div>
                    <span class="descuento">30% off</span>
                </div>
            </article></a>
            <a href="/producto"><article>
                <div>
                    <img src="/images/products/GPF002-gran-turismo-7-ps4.jpeg">
                    <h5>Gran Turismo 7</h5>
                    <span>Juegos - PS4</span>
                </div>
                <div class="precios">
                    <div>
                        <span class="precio-viejo">$10.000</span>
                        <span class="precio-actual">$7.000</span>
                    </div>
                    <span class="descuento">30% off</span>
                </div>
            </article></a>
        </section>

        <h4 class="titulo">PRODUCTOS MAS VENDIDOS</h4>
        <section class="productos">
            <a href="/producto"><article>
                <div>
                    <img src="/images/products/GPC002-Figura-de-acción-Saint-Seiya-Capricorn-Shura-de-Bandai-Myth-Cloth.jpeg">
                    <h5>Saint Seiya Capricorn Shura</h5>
                    <span>Figura de accion</span>
                </div>
                <div class="precios">
                    <div>
                        <span class="precio-viejo">$10.000</span>
                        <span class="precio-actual">$7.000</span>
                    </div>
                    <span class="descuento">30% off</span>
                </div>
            </article></a>
            <a href="/producto"><article>
                <div>
                    <img src="/images/products/GPF004-spiderman-miles-morales1-ps5.jpeg">
                    <h5>Spiderman Miles Morales</h5>
                    <span>Juego PS5</span>
                </div>
                <div class="precios">
                    <div>
                        <span class="precio-viejo">$10.000</span>
                        <span class="precio-actual">$7.000</span>
                    </div>
                    <span class="descuento">30% off</span>
                </div>
            </article></a>
            <a href="/producto"><article>
                <div>
                    <img src="/images/products/GPF008-sack-boy1-ps5.jpeg">
                    <h5>Sack Boy 1</h5>
                    <span>Juegos - PS5</span>
                </div>
                <div class="precios">
                    <div>
                        <span class="precio-viejo">$10.000</span>
                        <span class="precio-actual">$7.000</span>
                    </div>
                    <span class="descuento">30% off</span>
                </div>
            </article></a>
            <a href="/producto"><article>
                <div>
                    <img src="/images/products/GPC003-Figura-de-acción-Dragon-Ball-Broly-BAN91047-de-Bandai-S.H.-Figuarts.jpeg">
                    <h5>Dragon Ball Broly</h5>
                    <span>Figura de accion</span>
                </div>
                <div class="precios">
                    <div>
                        <span class="precio-viejo">$10.000</span>
                        <span class="precio-actual">$7.000</span>
                    </div>
                    <span class="descuento">30% off</span>
                </div>
            </article></a>
            <a href="/producto"><article>
                <div>
                    <img src="/images/products/GPC004-Figura-de-accion-Sonic-With-ring-20146-de-Funko-Pop-Games.jpeg">
                    <h5>Sonic with rings 20146</h5>
                    <span>Figura de accion</span>
                </div>
                <div class="precios">
                    <div>
                        <span class="precio-viejo">$10.000</span>
                        <span class="precio-actual">$7.000</span>
                    </div>
                    <span class="descuento">30% off</span>
                </div>
            </article></a>
            <a href="/producto"><article>
                <div>
                    <img src="/images/products/GPF001-fifa-22-ps4.jpeg">
                    <h5>Fifa 22</h5>
                    <span>Juegos - PS4</span>
                </div>
                <div class="precios">
                    <div>
                        <span class="precio-viejo">$10.000</span>
                        <span class="precio-actual">$7.000</span>
                    </div>
                    <span class="descuento">30% off</span>
                </div>
            </article></a>
        </section>
        
        <h4 class="titulo">COMENTARIOS DE USUARIOS</h4>
        <section class="comentarios">
            <article>
                <img src="/images/users/gamer-avatar-01.jpeg">
                <h5>USUARIO 1</h5>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
            </article>
            <article>
                <img src="/images/users/gamer-avatar-02.jpeg">
                <h5>USUARIO 2</h5>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
            </article>
            <article>
                <img src="/images/users/gamer-avatar-03.jpeg">
                <h5>USUARIO 3</h5>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
            </article>
            <article>
                <img src="/images/users/gamer-avatar-04.jpeg">
                <h5>USUARIO 4</h5>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
            </article>
        </section>
    </section>

    <%- include ('../partials/footer.ejs') %>
</body>

</html>