<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/register.css">
    
    <title>GamePlay - Registro</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <h3 class="tituloregistro">REGISTRO</h3>
        <div class="contenedor-registro">
            <div class="social-registro">
                <button class="facebookbutton">
                    <span class="facebook"><i class="fa-brands fa-facebook-square"></i></span>
                    <span class="textofacebook">Registrate con Facebook</span>
                </button>
                <button class="applebutton">
                    <span class="apple"><i class="fa-brands fa-apple"></i></span>
                    <span class="textoapple">Registrate con Apple ID</span></button>
                    <button class="gmailbutton">
                        <span class="gmail"><svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>Gmail icon</title>
                            <path d="M24 4.5v15c0 .85-.65 1.5-1.5 1.5H21V7.387l-9 6.463-9-6.463V21H1.5C.649 
                        21 0 20.35 0 19.5v-15c0-.425.162-.8.431-1.068C.7 3.16 1.076 3 1.5 3H2l10 7.25L22 
                            3h.5c.425 0 .8.162 1.069.432.27.268.431.643.431 1.068z"/></svg></span>
                        <span class="textogmail">Registrate con Gmail</span>
                    </button>
            </div><br>
            <P> O sino<br>
                Por favor completá los datos en el siguiente formulario</P><br>
            <div class="form-registro">
                <form class="registro" action="/registro" method="POST">
                    <div class="contenedor-fotoperfil">
                        <p>Foto de perfil</p><br>
                        <label for="fotoPerfil" class="fotoPerfil"><i class="fa fa-plus" aria-hidden="true"></i></label><br>
                        <input type="file" accept=".jpg, .png" id="fotoPerfil">
                    </div>

                    <div class="categoria"> 
                        <label for="nombre" class="datos">Nombre</label>
                        <input type="text" name="nombre" id="nombre" placeholder=" Juan" required>
                    </div>

                    <div class="categoria"> 
                        <label for="apellido" class="datos">Apellido</label>
                        <input type="text" name="apellid" id="apellido" placeholder=" Gameplayer" required>
                    </div>

                    <div class="categoria">
                        <label for="usuario" class="datos">Nombre de usuario</label>
                        <input type="text" name="usuario" id="user" placeholder=" Usuario" required>
                    </div>

                    <div class="categoria">
                        <div class="telefonos">
                            <span class = "telefonos">
                                <label for="telefono1" class="datos">Telefono</label>
                            </span>
                        </div>
                        <div class="telefonos">
                            <span>
                                <input type="tel" name="telefono1" id="telefono1" placeholder=" +54"></span>
                            <span>
                                <input type="tel" name="telefono2" id="telefono2" placeholder=" 1234 5678">
                            </span>
                        </div>
                    </div>

                    <div class="categoria">
                        <label for="mail" class="datos">E-mail</label>
                        <input type="email" name="mail" id="mail" placeholder=" juan@gameplay.com">
                    </div><br>
                                    
                    <div class="categoria">
                        <label for="nacimiento" class="datos">Fecha de nacimiento</label>
                        <input type="date" name="nacimiento" id="nacimiento" min="1900-01-01" required>
                    </div><br>

                    <div class="categoria">
                        <label for="domicilio" class="datos">Domicilio</label>
                        <input type="text" name="domicilio" id="domicilio" placeholder=" Av. Gameplay 150">
                    </div><br>
                    
                    <div class="categoria">
                        <div class="generos">
                            <label for="varon">Varon</label>
                            <input type="radio" name="genero" value="varon" id="varon">
                        </div>
                        <div class="generos">
                            <label for="mujer">Mujer</label>
                            <input type="radio" name="genero" value="mujer" id="mujer">
                        </div>
                        <div class="generos">
                            <label for="otro">Otro</label>
                            <input type="radio" name="genero" value="otro" id="otro">
                        </div>
                        
                    </div>
                                            <!-- Div abajo de los datos -->
                    <section class="perfilusuario">
                        <div class="intereses">
                            <h4>Intereses</h4>
                            <div>
                                <input type="checkbox" name="interests" value="a" id="a">
                                <label for="a">Anime</label>
                            </div>
                            <div>
                                <input type="checkbox" name="interests" value="b" id="b">
                                <label for="b">Accion</label>
                            </div>
                            <div>
                                <input type="checkbox" name="interests" value="c" id="c">
                                <label for="c">Deporte</label>
                            </div>
                            <div>
                                <input type="checkbox" name="interests" value="d" id="d">
                                <label for="d">RPG</label>
                            </div>
                            <div>
                                <input type="checkbox" name="interests" value="e" id="e">
                                <label for="e">Social</label>
                            </div>
                        </div>
                    </section>
                    <div class="categoria">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" placeholder=" ********">
                    </div>
                    <div class="categoria">
                        <label for="password">Confirme contraseña</label>
                        <input type="password" name="password" id="password" placeholder=" ********">
                    </div><br>
                    <div class="tyc">
                        <input type="checkbox" name="tyc" value="tyc" id="tyc" required>
                        <label for="tyc">Estoy de acuerdo con los <s>Términos y Condiciones</s></label>
                    </div><br>
                    <div>
                        <button type="submit" class="registerbutton">REGISTRATE</button>
                    </div><br>
                    
                </form>
        </div>
    </div>
    </main>
    <%- include ('../partials/footer.ejs') %>
</body>

</html>