<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/all_head.ejs')%>
    <link rel="stylesheet" href="/css/register.css">
    <script src = "/js/productValidations.js"> </script>
    <title>GamePlay - Crear Producto</title>
</head>

<body>
    <header>
        <%- include('../partials/all_header.ejs') %>
    </header>
        <!-- Breadcrumb Start -->
        <main class="product-detail">
            <div class="breadcrumb">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="level-01" href="/">Inicio > </a>
                    <a class="level-02" href="/">Productos > </a>
                    <span class="active">Crear Producto</span>
                </nav>
            </div>
        <!-- Breadcrumb End -->
    <main>
        <h3 class="tituloregistro">CREAR PRODUCTO</h3>
        <div class="contenedor-registro">
            <br>
            <div class="form-registro">
                <form class="registro" action="/productos/crear" method="POST" enctype="multipart/form-data">
                    <%-include ('../partials/product_form_fields.ejs', {product, categories}) %>
                    <div>
                        <button id="submit" type="submit" class="registerbutton">PUBLICAR</button>
                    </div><br>
                    
                </form>
        </div>
    </div>
    </main>
    <%- include ('../partials/all_footer.ejs') %>
    <script src="/js/previewProductImage.js"></script>
</body>

</html>