<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>GamePlay - Home</title>
</head>

<body>

    <header>
        <div class="social-media">
            <nav>
                <ul>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="https://wa.me/3515326498" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li><a href="mailto:contacto@gamestop.com.ar"><i class="fa-regular fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="logo-login">
            <a href="/"><img class="isologotipo" src="/images/imagotipo.png" alt="Gameplay"></a>
            <nav>
                <ul>
                    <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i><span>&nbsp;Carrito</span></a></li>
                    <li><a href="/registro"><i class="fa-regular fa-id-card"></i><span>&nbsp;Registrate</span></a></li>
                    <li><a href="/inicioSesion"><i class="fa-solid fa-arrow-right-to-bracket"></i><span>&nbsp;Inicia sesión</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="navegacion-carrito">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/productos">Productos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        ULTIMOS LANZAMIENTOS
    </section>

    <section>
        OFERTAS
    </section>

    <section>
        HISTORIAS DE USUARIOS
    </section>

    <footer>
        <div class="logo">
            <nav>
                <ul>
                    <li><a href="/" class="isologotipo"><img src="/images/isotipo.png"><img src="/images/logotipo.png"></a></li>
                    <li><ul class="social-media">
                        <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><ul>
                        <li><a href="https://wa.me/3515326498" target="_blank"><i class="fa-brands fa-whatsapp"></i>&nbsp;Atencion al Cliente</a></li>
                        <li><a href="mailto:contacto@gamestop.com.ar"><i class="fa-regular fa-envelope"></i>&nbsp;Email contacto</a></li>
                    </ul></li>
                </ul>
            </nav>
        </div>
        <div class="empresa">EMPRESA</div>
        <div class="cliente">CLIENTE</div>
        <div class="soporte">SOPORTE</div>
        <div class="newsletter">NEWSLETTERS</div>
    </footer>
</body>

</html>