<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>GamePlay - Carrito</title>
</head>

<body>

    <header>
        <div class="social-media">
            <nav>
                <ul>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="https://wa.me/3515555555" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li><a href="mailto:contacto@gamestop.com.ar"><i class="fa-regular fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="logo-login">
            <a href="/"><img class="isologotipo" src="/images/imagotipo.png" alt="Gameplay"></a>
            <nav>
                <ul>
                    <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i><span>&nbsp;Carrito</span></a></li>
                    <li><a href="/registro"><i class="fa-regular fa-id-card"></i><span>&nbsp;Registrate</span></a></li>
                    <li><a href="/inicioSesion"><i class="fa-solid fa-arrow-right-to-bracket"></i><span>&nbsp;Inicia sesión</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="navegacion-carrito">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Productos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Breadcrumb Start -->
    <main class="cart">
        <div class="breadcrumb">
            <nav class="breadcrumb bg-light mb-30">
                <a class="level-01" href="/">Inicio > </a>
                <a class="level-02" href="/">Shop > </a>
                <span class="active">Carrito</span>
            </nav>
        </div>
        <!-- Breadcrumb End -->
            
        <!-- Cart Details Start -->
        <div class="product-details">

            <!-- Cart Products Start -->
            
            <div class="cart-products">
                <div class="cart-products-title">
                    <h2>Productos añadidos</h2>
                </div>
                <div class="product-list-general">
                    <div class="cart-products-item">
                        <div class="cart-picture">
                            <img class="main-pic" src="/images/products/GPF006-uncharted-legacy-of-thieves-collection1-ps5.jpeg" alt="imagen de producto">
                        </div>
                        <div class="cart-name-price-qty">
                            <div class="product-name">
                                <h3 class="name">Nombre del producto</h3>
                            </div>
                            <div>
                                <p class="regular-price">$10.000 </p>
                            </div>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <a href="javascript:alert('Restaste una unidad');"><button class="minus-button"> - </button></a>
                                </div>
                                <input type="text" class="form-control" value="1">
                                <div class="input-group-btn">
                                    <a href="javascript:alert('Sumaste una unidad');"><button class="plus-button"> + </button></a>
                                </div>
                            </div>
                            <div class="cart-erase-button">
                                <a href="javascript:alert('Tu producto será borrado del carrito, deseas continuar?');"><button class="erase-button">x</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="cart-products-item">
                        <div class="cart-picture">
                            <img class="main-pic" src="/images/products/GPF006-uncharted-legacy-of-thieves-collection1-ps5.jpeg" alt="imagen de producto">
                        </div>
                        <div class="cart-name-price-qty">
                            <div class="product-name">
                                <h3 class="name">Nombre del producto</h3>
                            </div>
                            <div>
                                <p class="regular-price">$10.000 </p>
                            </div>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <a href="javascript:alert('Restaste una unidad');"><button class="minus-button"> - </button></a>
                                </div>
                                <input type="text" class="form-control" value="1">
                                <div class="input-group-btn">
                                    <a href="javascript:alert('Sumaste una unidad');"><button class="plus-button"> + </button></a>
                                </div>
                            </div>
                            <div class="cart-erase-button">
                                <a href="javascript:alert('Tu producto será borrado del carrito, deseas continuar?');"><button class="erase-button">x</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="cart-products-item">
                        <div class="cart-picture">
                            <img class="main-pic" src="/images/products/GPF006-uncharted-legacy-of-thieves-collection1-ps5.jpeg" alt="imagen de producto">
                        </div>
                        <div class="cart-name-price-qty">
                            <div class="product-name">
                                <h3 class="name">Nombre del producto</h3>
                            </div>
                            <div>
                                <p class="regular-price">$10.000 </p>
                            </div>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <a href="javascript:alert('Restaste una unidad');"><button class="minus-button"> - </button></a>
                                </div>
                                <input type="text" class="form-control" value="1">
                                <div class="input-group-btn">
                                    <a href="javascript:alert('Sumaste una unidad');"><button class="plus-button"> + </button></a>
                                </div>
                            </div>
                            <div class="cart-erase-button">
                                <a href="javascript:alert('Tu producto será borrado del carrito, deseas continuar?');"><button class="erase-button">x</button></a>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <!-- Cart Products End -->

            <!-- Cart Resume Start -->
            <div class="cart-resume">
                <div class="resume-title">
                    <h2>Resumen</h2>
                </div>
                <div class="resume-pricing">
                    <div class="total-price">
                        <div class="total-price-label">
                            <h4>Precio (x items)</h4>
                        </div>
                        <div class="total-price-number">
                            <p>$30.000</p>
                        </div>
                    </div>
                    <div class="transport-charges">
                        <div class="transport-charges-label">
                            <h4>Costo por envío</h4>
                        </div>
                        <div class="transport-charges-number">
                            <p>$2.000</p>
                        </div>
                    </div>
                    <div class="final-price">
                        <div class="final-price-label">
                            <h4>Precio Total</h4>
                        </div>
                        <div class="final-price-number">
                            <p>$32.000</p>
                        </div>
                    </div>
                </div>
                <div class="resume-buttons">
                    <div class="keep-buying">
                        <a href="javascript:alert('Serás redireccionado al shop');"><button class="keep-buying-button">CONTINUAR COMPRANDO</button></a>
                    </div>
                    <div class="go-to-checkout">
                        <a href="javascript:alert('¡Serás redireccionado al checkout para finalizar tu compra!');"><button class="go-to-checkout-button">FINALIZAR PEDIDO</button></a>
                    </div>
                </div>
            </div>
            <!-- Cart Resume End -->
        </div>
        <!-- Cart Details End -->
    </main>

    <footer>
        <div class="logo">
            <nav>
                <ul>
                    <li><a href="/" class="isologotipo"><img src="/images/isotipo.png"><img src="/images/logotipo.png"></a></li>
                    <li><ul class="social-media">
                        <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><ul>
                        <li><a href="https://wa.me/351555555" target="_blank"><i class="fa-brands fa-whatsapp"></i>&nbsp;Atencion al Cliente</a></li>
                        <li><a href="mailto:contacto@gamestop.com.ar"><i class="fa-regular fa-envelope"></i>&nbsp;Email contacto</a></li>
                    </ul></li>
                </ul>
            </nav>
        </div>
        <div class="empresa">
            <h4>LA EMPRESA</h4>
            <p><a href="/">Nosotros</a></p>
            <p><a href="/">Comunidad</a></p>
            <p><a href="/">Terminos y condiciones</a></p>
            <h4>&nbsp;</h4>
            <h4>CLIENTE</h4>
            <p><a href="/">Mi cuenta</a></p>
            <p><a href="/carrito">Mi carrito</a></p>
            <p><a href="/">Mis pedidos</a></p>
            
        </div>
        <div class="soporte">
            <h4>SOPORTE</h4>
            <p><a href="/">¿Cómo comprar?</a></p>
            <p><a href="/">Medios de pago</a></p>
            <p><a href="/">Preguntas frecuentes</a></p>
            <p><a href="/">Cambios y devoluciones</a></p>
        </div>
            <div class="newsletter">
                <h4>NEWSLETTER</h4>
                <p>Subscribete a nuestro newsletter y se el primero en enterarte de nuevas ofertas y promociones.</p>
                <p>También conocé las novedades del mundo de los videojuegos como así también del mundo de comics y coleccionables.</p>
                <h4>&nbsp;</h4>
                <div><input type="text"><input class="subscripcion" type="button" value="SUSCRIBIRSE"></div>
            </div>
    </footer>
</body>

</html>